<!DOCTYPE html>
<html lang="en">
<%- include header %>

<body>
<% include navbar %>

<div role="main" class="container" style="width: 30%;">
  <br /><br />
<h2>Hello</h2>

  <br />
  <h2>Fruit List</h2>

  <% for (var k = 0; k < fruits.length; k++) { %>
  <!-- if -->
  <% if (fruits[k] == "Apple") { %>
  <div class="alert alert-success" role="alert">
    <strong><%= fruits[k] %></strong>
  </div>
  <% } %>
  <!-- // end if -->
  <!-- if -->
  <% if (fruits[k] == "Blueberry") { %>
  <div class="alert alert-info" role="alert">
    <strong><%= fruits[k] %></strong>
  </div>
  <% } %>
  <!-- // end if -->
  <!-- if -->
  <% if (fruits[k] == "Orange") { %>
  <div class="alert alert-warning" role="alert">
    <strong><%= fruits[k] %></strong>
  </div>
  <% } %>
  <!-- // end if -->
  <!-- if -->
  <% if (fruits[k] == "Strawberry") { %>
  <div class="alert alert-danger" role="alert">
    <strong><%= fruits[k] %></strong>
  </div>
  <% } %>
  <!-- // end if -->
  <% } %>
</div>
<% include scripts %>
</body>
</html>
